header{
    background-color: rgb(42, 43, 57);
    color: #ffffff;
    background-image: url('../../../assets/screen-header.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header div.align-items-center{
    height: 100vh;
}

header div div.header-icon{
    margin: 15px;
    margin-bottom: 30px;
}

header div h1.header-heading{
    margin: 15px;
    margin-bottom: 30px;
    font-weight: 200;
    font-size: 42px;
}

header div h1.header-heading span{
    font-weight: 800;
}

header div p.header-text{
    margin: 15px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 100;
}

header div div.header-buttons{
    margin: 15px;
    margin-bottom: 30px;
}

header div div.header-buttons button{
    margin: 10px 20px;
    min-width: 220px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #4bbdd5;
    border-radius: 30px;
    background: transparent;
    color: #4bbdd5;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

header div div.header-buttons button:hover{
    background: #4bbdd5;
    color: #fff;
}

header div button.header-mouse{
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 12px 14px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 800;
    background: transparent;
}


/* About us css start from here */
section#about{
    background-image: url('../../../assets/about-background.jpg');
    background-position-x: 65%;
    background-position-y: 30%;
    color: #333;
}

#about article{
    padding: 60px 30px;
    
    background-size: cover;
    background: linear-gradient(140deg, rgba(255, 255, 255, 0), rgba(73, 193, 209, 0.555));
    min-height: 100vh;    
}
#about div.col{
    padding: 1vw;
}

#about div.col p.about-heading{
    margin-bottom: 50px;
    font-weight: 100;
    text-transform: uppercase;
}
#about div.col p.about-heading span{
    font-weight: bold;
}
#about div.col p.p-first{
    font-size: 22px;
    font-weight: 0;
    color: #5f727f;
}
#about div.col div.hr-about{
    border: 1px solid #4bbdd5;
    margin: 20px;
    margin-left: 0px;
    width: 310px;
}
#about div.col p.p-second{
    font-size: 16px;
    font-weight: 300;
    color: #5f727f;
}
#about div.col button{
    font-size: 22px;
    margin-top: 50px;
    padding: 10px 30px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    -webkit-transition: all  .3s ease-out;
    -moz-transition: all  .3s ease-out;
    transition: all  .3s ease-out;
}
#about div.col button:hover{
    background: #fff;
    color: #4bbdd5;
}

