<!--header of screen goes here -->
<header>
    <div class="text-center row align-items-center">
        <div class="col">
            <div class="header-icon">
                <i class="fa fa-code fa-5x"></i>
            </div>
            <h1 class="header-heading">WEB<span>DEVISER</span>
            </h1>
            <p class="header-text text-center">Websites that depict our creativity and your potential.</p>
            <div class="text-center header-buttons">
                <button class="btn">Contact Us</button>
                <button class="btn">Our Work</button>
            </div>
            <button class="header-mouse">
                <span>|</span>
            </button>
        </div>
    </div>
</header>

<!-- About Us -->
<section id="about">
    <article >
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-3 col-xl-5 col-12">
                </div>
                <div class="col">
                    <p class="about-heading display-4">About <span>Us</span></p>
                    <p class="p-first">At WebDeviser, we are a passionate group of designers, developers, project managers, writers and artists. Every client we work with becomes a part of the team. Together we face the challenges and celebrate the victories. </p>
                    <div class="hr-about"></div>

                    <p class="p-second"> We offer a extensive range of services to reach your targeted spectators and carve up your valuable information focusing on retaining your customers. Our service includes Web application development,
                        Website designing, Corporate profiles and presentations, E-commerce solutions, Application development, maintenance, and re-engineering, Mail gateways, Web hosting solutions, Search Engine Optimization, and Flash development.</p>
                    <button>LEARN MORE</button>
                </div>
            </div>
        </div>
    </article>
</section>

<!-- Why choose us -->
<article id="whyus">
    <div class="container">
        <div class="display-title text-center"><span>WHY CHOOSE </span> WEBDEVISER</div>
        <div class="row text-center">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="why-card">
                    <img src="../../../assets/why1.svg" class="img-fluid">
                    <h5>Creative Design</h5 >
                    <p class="text-muted"> We never use a pre-designed template for your website. All design layouts are developed from ground up, meeting the exacting standards you demand.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="why-card">
                    <img src="../../../assets/why2.svg" class="img-fluid">
                    <h5>Fully Responsive</h5>
                    <p class="text-muted">Your site should perform good on desktops, tablets and smart phones. We develop websites that work, and look great, across every platform.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="why-card">
                    <img src="../../../assets/why3.svg" class="img-fluid">
                    <h5>Easy to Setup</h5>
                    <p class="text-muted">Content Management Systems allow you to make content updates, keeping your site fresh, up-to-date and competitive.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="why-card">
                    <img src="../../../assets/why4.svg" class="img-fluid">
                    <h5>Page Load Speed</h5>
                    <p class="text-muted">The page load speed of website is very good. Size of website is also very small.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="why-card">
                    <img src="../../../assets/why5.svg" class="img-fluid">
                    <h5>Optimization Support</h5>
                    <p class="text-muted">We are experts at designing and creating content management systems for the web. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="why-card">
                    <img src="../../..//assets/why6.png" class="img-fluid">
                    <h5>24x7 Support</h5>
                    <p class="text-muted">We don't hand you off to a 3rd party hosting provider. We offer secure, high-speed web hosting, and look after your website 24x7.</p>
                </div>
            </div>
        </div>
    </div>
</article>

