<!--header of screen goes here -->
<header>
    <div class="text-center row align-items-center">
        <div class="col">
            <div class="header-icon">
                <i class="fa fa-code fa-5x"></i>
            </div>
            <h1 class="header-heading">WEB<span>DEVISER</span>
            </h1>
            <p class="header-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
            <div class="text-center header-buttons">
                <button class="btn">Contact Us</button>
                <button class="btn">Our Work</button>
            </div>
            <button class="header-mouse">
                <span>|</span>
            </button>
        </div>
    </div>
</header>

<article>

</article>