header{
    background-color: rgb(42, 43, 57);
    color: #ffffff;
    background-image: url('../../../assets/screen-header.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header div.align-items-center{
    height: 100vh;
}

header div div.header-icon{
    margin: 15px;
    margin-bottom: 30px;
}

header div h1.header-heading{
    margin: 15px;
    margin-bottom: 30px;
    font-weight: 200;
    font-size: 42px;
}

header div h1.header-heading span{
    font-weight: 800;
}

header div p.header-text{
    margin: 15px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 100;
}

header div div.header-buttons{
    margin: 15px;
    margin-bottom: 30px;
}

header div div.header-buttons button{
    margin: 10px 20px;
    min-width: 220px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #4bbdd5;
    border-radius: 30px;
    background: transparent;
    color: #4bbdd5;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

header div div.header-buttons button:hover{
    background: #4bbdd5;
    color: #fff;
}

header div button.header-mouse{
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 12px 14px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 800;
    background: transparent;
}


/* About us css start from here */
section#about{
    background-image: url('../../../assets/about-background.jpg');
    background-position-x: 65%;
    background-position-y: 30%;
    color: #333;
}

#about article{
    padding: 60px 30px;
    
    background-size: cover;
   
    min-height: 100vh;    
}
#about div.col{
    padding: 1vw;
}

#about div.col p.about-heading{
    margin-bottom: 50px;
    font-weight: 100;
    text-transform: uppercase;
}
#about div.col p.about-heading span{
    font-weight: bold;
}
#about div.col p.p-first{
    font-size: 20px;
    font-weight: 0;
    color: #5f727f;
}
#about div.col div.hr-about{
    border: 1px solid #4bbdd5;
    background: #4bbdd5;
    margin: 20px;
    margin-left: 0px;
    width: 310px;
}
#about div.col p.p-second{
    font-size: 14px;
    margin-right: 5vw;
    font-weight: 300;
    color: #4e555a;
}
#about div.col button{
    font-size: 20px;
    margin-top: 30px;
    padding: 8px 30px;
    border: 1px solid #fff;
    border-radius: 2px;
    background: transparent;
    color: #fff;
    -webkit-transition: all  .3s ease-out;
    -moz-transition: all  .3s ease-out;
    transition: all  .3s ease-out;
}
#about div.col button:hover{
    background: #fff;
    color: #4bbdd5;
}

/* why choose us"*/
article#whyus{
    padding: 80px 0px;
    background-color: rgba(245,245,245,.6);
}

#whyus div.display-title {
    font-size: 38px;
    margin-bottom: 50px;
    font-weight: 100;
    color: #3c3950;
}
#whyus div.display-title span{
    font-weight: 900;
}
#whyus div.why-card{
    width: 240px;
    margin: auto;  
}
#whyus div.col-sm-6{
    padding: 10px;
    -webkit-transition: transform .3s ;
    -moz-transition: transform .3s ;
    transition: transform .3s ;
}
#whyus div.col-sm-6:hover{
    background: #fff;
    box-shadow:8px 20px 20px -2px hsla(0, 0%, 70%, .14);
    transform: translateY(-20px);
    cursor: pointer;
}
#whyus div.why-card img{
    width: 60%;
    margin:20px auto;
    margin-top: 50px;
}
#whyus div.why-card h5 {
    color: #4bbdd5;
    margin: 10px;
}

/*----Techonolgy-----*/
#tech{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#tech div.row{
    margin: 0px;
    padding: 0px;
}
#tech div.col-md-4{
    padding: 100px 50px;
}
#tech div.col-md-4 img{
    width: 200px;
    height: 200px;
}
#tech div.tech-1{
    background: #393d50!important
}
#tech div.tech-2{
    background: #383a39!important;
}
#tech div.tech-3{
    background: #ffcd54!important;
}
#tech div.tech-4{
    background: #ed4e46!important;
}
#tech div.tech-5{
    background: #e15260!important;
}
#tech div.tech-6{
    background: #f99740!important;
}



/* ----Sevices ----*/
article#service{
    padding: 80px 10px;
    background-image: url('../../../assets/service-background.jpg');
    background-size: cover;
    background-position: center;
}

#service div.display-4{
    margin-bottom: 100px;
    color: #fff;
}

#service div.container div.col-md-4{
    color: #fff;
    margin-bottom: 20px;
}

#service div.service-card{
    margin: 5px 15px;
    height: 100%;
    padding: 18px;
    background: rgba(32, 37, 52, 0.808);
}

#service div.service-card i{
    margin: 30px;
}
#service div.service-card p{
    margin-top: 20px;
    font-size: 12px;
    min-height: 180px;
}
#service div.service-card button{
    border: 1px solid #4bbdd5;
    color: white;
    min-width: 150px;
    padding: 10px;
    background: transparent;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
#service div.service-card button:hover{
    background: #4bbdd5;
}